.navbar-brand {
font-size: 1.5rem;
color: darkgray;
}

.jumbotron {
    background-image: url("./Images/abstract-photo-art.jpg");
    background-size: cover;
    height: 200px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 2pt solid darkgray;
  }

.bg-custom {
    background-color: rgba(168, 250, 250, 0.637);
    border-bottom: 1pt solid darkgray; 
}

.main-card {
    padding: 10pt;
    margin: 10pt;
    border: none;
}

.feminine-quote {
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    line-height: 1.5em;
}

.elegant-script {
    font-family: 'Charmonman', cursive;
    font-size: 1.5em;
    line-height: 2em;
}

.typeface {
    font-family: 'Averia Libre', cursive;
    font-size: 1.5em;
    line-height: 1.5em;
}

.thick-stroke {
    font-family: 'Mogra', cursive;
    font-size: 1em;
    line-height: 1.25em;
}

.carousel-item, .text, .nav-item {
    color: darkgrey;
}

body {
    background-color: rgba(211, 211, 211, 0.239);
}

/* .carousel-inner{
padding: 40pt;
background-color: grey;
} */

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
  }

  #marquee-container {
      width: 40%;
      border-left: 2pt solid rgb(83, 81, 81);
      padding-left: 0;
  }

  .carousel-control-prev, .carousel-control-next  {
    width: 4%
}
.carousel-inner {
    padding: 0 15pt 0 15pt;
}

